{% extends 'base.html.twig' %}

{% block title %}Utente{% endblock %}
{% block description %}Il mio account utente{% endblock %}

{% block body %}

    <p>{{ app.user.email }}</p>

    <a href="{{ path('app_logout') }}" class="button">
        Esci
    </a>
{% endblock %}
