{% extends 'base.html.twig' %}

{% block title %}Crediti{% endblock %}
{% block description %}Crediti App Amichiamoci{% endblock %}

{% block body %}
    <p>
        Il codice sorgente è disponibile a <a target="_blank" href="{{ repo_url }}">{{ repo_url }}</a><br />

        I creatori di quest'app possono essere contattati a <a href="mailto:{{ dev_email }}">{{ dev_email }}</a>
    </p>
{% endblock %}
