{% extends 'layout.html.twig' %}

{% block title %}Classifica{% endblock %}
{% block description %}La classifica attuale di Amichiamoci{% endblock %}

{% block body %}
    <h1>Classifica</h1>
{% endblock %}
