{% extends 'base.html.twig' %}

{% block title %}Partite{% endblock %}
{% block description %}Le partite di oggi{% endblock %}

{% block body %}

    <h1> Partite di {{ requestedSport|upper }}</h1>

    {% for match in matches %}
        {% include 'match/small.html.twig' with { 'match': match } %}
    {% else %}
        <div>
            Nessuna partita in programma
        </div>
    {% endfor %}

{% endblock %}
