{% extends 'base.html.twig' %}

{% block title %}Partite{% endblock %}
{% block description %}Le partite della settimana{% endblock %}

{% block body %}

    <p>
    
    Partite qui
    
    </p>
{% endblock %}
