{% extends 'base.html.twig' %}

{% block title %}Privacy{% endblock %}
{% block description %}Privacy Policy Amichiamoci{% endblock %}

{% block body %}
    <p>
        Amichiamoci A.S.D. è un'organizzazione diocesana della Diocesi di Livorno.<br />

        Amichiamoci conserva i dati immessi dagli utenti (nome, cognome, email) in fase di registrazione e si impegna a 
        non condividerle con terzi.<br />

        In questo applicativo non vi è pubblicità, né altre forme di profiling. <br />

        I creatori di quest'app possono essere contattati a <a href="mailto:{{ dev_email }}">{{ dev_email }}</a>
    </p>
{% endblock %}
