{% extends 'base.html.twig' %}

{% block title %}Resetta la tua password{% endblock %}
{% block description %}Indica una nuova passord{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">La tua password</h1>

    {{ form_errors(resetForm) }}
    
    {{ form_start(resetForm) }}

        <div class="mb-3">
            {{ form_row(resetForm.plainPassword) }}
        </div>
    
        <button class="btn btn-primary btn-lg" type="submit">
            Resetta la password
        </button>
    {{ form_end(resetForm) }}
{% endblock %}
