{% extends 'base.html.twig' %}

{% block title %}Arbitro{% endblock %}
{% block description %}Pannello di controllo arbitro{% endblock %}

{% block body %}

    <p>{{ app.user.email }}</p>

{% endblock %}
